<?xml version="1.0" standalone='no'?><!--*-nxml-*-->
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">

<!-- This file is part of the weatherapp surrogate-->

<service-group>
  <name replace-wildcards="yes">%h</name>

  <service>
    <type>_udisks-ssh._tcp</type>
    <port>7654</port>
  </service>
</service-group>
